
* {
    padding: 0;
    margin: 0;
  }
  :root {
    --primary-color: #a1ff69;
    --secondary-color: #13252f;
    --heading-color: #fff;
    --body-bg: #13252f;
    --small-text-color: #acb2b2;
    --font-name: "Montserrat", sans-serif;
    --card-bg: #152833;
  }
  
  body {
    background: var(--body-bg);
    font-family: var(--font-name);
  }
  
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0px 40px;
  }
  .logo {
    font-size: 50px;
    color: #cfcaa8;
  }
  .nav {
    position: relative;
    left: -180px;
  }
  li {
    display: inline;
  }
  a {
    padding: 5px 15px;
    color: orange;
    font-size: 20px;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: underline;
    text-underline-position: under;
  }
  .search {
    font-size: 25px;
  }
  .search i {
    padding: 5px 20px;
  }
  
  /************heading**************/
  .heading {
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
    align-items: center;
  }
  .right {
    width: 440px;
    height: 440px;
    background-image: url("https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right::before {
    width: 430px;
    height: 430px;
    border: 200px solid white;
    content: "";
    position: absolute;
    border-radius: 430px;
    padding: 10px;
  }
  .cover .information {
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10%;
  }
  .information h3 {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 300;
  }
  .information h3 span {
    float: right;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
  }
  .information h2 {
    font-size: 40px;
  }
  .information h1 span {
    font-size: 110px;
    line-height: 120px;
    color: rgb(1, 161, 1);
    letter-spacing: 10px;
  }
  .information a {
    display: block;
    max-width: 350px;
    margin: 0 auto;
  }
  .information a button {
    padding: 8px 80px;
    cursor: pointer;
    letter-spacing: 5px;
    background: linear-gradient(to right, transparent 50%, rgb(1, 161, 1) 50%);
    background-size: 200%;
    background-position: left;
    transition: 0.3s;
    border: 2px solid white;
    color: white;
    margin: 40px 0 -50%;
    width: 100%;
  }
  .information a button:hover {
    background-position: right;
    color: white;
  }
  

  /*********SocialMedia***************/
  .SocialMedia {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 200px;
    background-color: white;
    font-size: 25px;
  }
  .SocialMedia i:hover {
    color: orange;
  }
  
  /* popular restaurant style */
  
  .dishes__section-top {
    text-align: center;
    margin-bottom: 50px;
    color: #a1ff69;
  }
  
  .dishes__section-top h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  
  .dishes__wrapper {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }
  
  .dish__item {
    width: 33%;
    display: flex;
    column-gap: 1rem;
    cursor: pointer;
    background: white;
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .dish__img {
    width: 25%;
  }
  
  .dish__img img {
    width: 100%;
  }
  
  .ratings {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .ratings span i {
    color: gold;
  }
  
  .dish__content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dish__price {
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
  }
  
  .dish__content {
    width: 75%;
  }
  
  .add__to-cart {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add__to-cart i {
    font-weight: 600;
  }
  
  .dish__item:nth-child(2) .dish__img img,
  .dish__item:nth-child(3) .dish__img img {
    width: 150%;
    margin-left: -15px;
  }
  
  .dish__item:hover {
    transform: translateY(-1rem);
  }
  
  /************************************** Contact **********************************************/
  .contact {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    padding: 125px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
      url("https://source.unsplash.com/1600x900/?contact,message");
  }
  .contact h1 {
    color: white;
    text-align: center;
  }
  .contactcontanner {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .contactcontanner .contanner {
    width: 30%;
  }
  .contactcontanner .contanner .heading {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid white;
    margin-bottom: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
  }
  .heading .icon {
    padding: 0 0 0 20px;
    font-size: 20px;
    color: rgb(3, 180, 3);
  }
  .heading .info {
    width: 70%;
    margin: 25px auto;
    color: white;
  }
  .heading .info #contactinfo {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
  }
  
  /* message form */
  .messageform {
    width: 70%;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .messageform .form {
    width: 80%;
    margin: 50px auto;
  }
  .messageform input,
  .messageform #inputbox {
    width: 100%;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid white;
    outline: none;
    background-color: transparent;
  }
  .messageform button {
    padding: 10px 50px;
    margin-top: 20px;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    background: linear-gradient(to right, transparent 50%, rgb(3, 180, 3) 50%);
    background-size: 200%;
    background-position: left;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s;
  }
  .messageform button:hover {
    background-position: right;
  }
  
  /* contact mobile view */
  @media only screen and (max-width: 700px) {
    .contact {
      padding: 50px 0;
    }
    .contactcontanner {
      width: 95%;
      display: block;
    }
    .contactcontanner .contanner {
      width: 100%;
    }
    /* message form */
    .messageform {
      width: 100%;
      margin-left: 0px;
      padding: 1px 0;
    }
    .messageform .form {
      width: 93%;
      margin: 50px auto;
    }
  }
  
  
  /*************** about***************/
  .about__wrapper {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    color: white;
  }
  
  .about__img,
  .about__content {
    width: 50%;
  }
  
  .about__img img {
    width: 100%;
  }
  
  .about__content h3 {
    font-size: 1.7rem;
    line-height: 50px;
    margin-bottom: 20px;
  }
  
  .learn__more {
    margin-top: 40px;
    padding: 10px 35px;
    font-size: 1rem;
    border: none;
    background: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learn__more a {
    color: var(--secondary-color);
    font-weight: 600;
  }
  
  .item {
    padding: 20px;
    background: var(--card-bg);
    width: 33%;
    border-radius: 5px;
  }
  
  .item img {
    width: 100%;
  }
  
  .content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .item h4 {
    font-size: 1.3rem;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  
  /* footer style */
  
  .footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: white;
  .footer__wrapper {
    display: flex;
    column-gap: 2rem;
  }
  
  .footer__logo {
    width: 40%;
  }
  
  .footer__box {
    width: 15%;
  }
  
  .footer__logo p {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .subscribe__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 90%;
  }
  
  .subscribe__box input {
    padding: 15px 7px;
    border: none;
    outline: none;
    background: transparent;
    color: #acb2b2;
    font-size: 0.9rem;
  }
  
  .subscribe__box input::placeholder {
    color: #acb2b2;
  }
  
  .subscribe__btn {
    padding: 15px 25px;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0px;
  }
  
  .footer__link-title {
    margin-bottom: 20px;
  }
  
  .footer__menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  
  .footer__link {
    color: var(--small-text-color);
    font-size: 0.9rem;
  }
  
  .footer__copyright {
    text-align: center;
    margin-top: 50px;
  }
  
  /* animation style */
  .section {
    transition:
      transform 1s,
      opacity 1s;
  }
  
  .section__hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
  
  /* responsive  */
  
  @media only screen and (max-width: 1024px) {
    .container {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    section {
      padding: 40px 0px;
    }
  
    .nav {
      width: 100%;
      height: 50px;
      line-height: 50px;
    }
  
    .navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #13252fa8;
      z-index: 99999;
      display: none;
    }
  
    .nav__menu {
      position: absolute;
      width: 250px;
      height: 100%;
      top: 0;
      right: 0;
      background: var(--card-bg);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 999999;
    }
  
    .nav__link {
      font-size: 0.9rem;
    }
  
    .show__menu {
      display: block;
    }
    .mobile__menu {
      display: block;
    }
  
    .hero__content h2,
    .offer__content h2 {
      font-size: 2rem;
      line-height: 40px;
    }
  
    .dishes__section-top h2,
    .menu__section-top h2,
    .blog__top h2 {
      font-size: 1.5rem;
    }
  
    .dish__content h3 {
      font-size: 0.9rem;
    }
  
    .dish__price {
      font-size: 1rem;
    }
  
    .ratings span i {
      font-size: 0.8rem;
    }
  
    .ratings {
      margin-bottom: 10px;
    }
  
    .add__to-cart {
      width: 25px;
      height: 25px;
    }
  
    .about__content h3 {
      font-size: 1.4rem;
      line-height: 35px;
    }
    .view__more-btn,
    .learn__more {
      padding: 8px 30px;
      font-size: 0.8rem;
    }
  
    .logo h1 {
      font-size: 1.2rem;
    }
  
    .menu__item h3 {
      font-size: 1rem;
    }
  
    .menu__card-bottom {
      margin-top: 0;
    }
  
    .blog__content h3 {
      font-size: 1rem;
    }
  
    .blog__content p {
      line-height: 25px;
      font-size: 0.8rem;
    }
  
    .blog__item {
      padding: 0;
      border: none;
    }
  
    .footer__logo {
      width: 100%;
    }
  
    .footer__wrapper {
      flex-wrap: wrap;
      row-gap: 2rem;
    }
  
    .footer__box {
      width: 30%;
    }
  
    .footer__logo input {
      padding: 8px;
      font-size: 0.8rem;
    }
  
    .subscribe__box {
      width: 100%;
    }
  
    .subscribe__btn {
      padding: 8px 30px;
      font-size: 0.8rem;
    }
  
    .footer__link-title {
      font-size: 1rem;
    }
  
    .footer__link {
      font-size: 0.8rem;
    }
  
    .footer__copyright {
      font-size: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .hero__content,
    .hero__img,
    .about__content,
    .about__img,
    .offer__content,
    .offer__img {
      width: 100%;
    }
  
    .hero__wrapper,
    .about__wrapper,
    .offer__wrapper {
      flex-wrap: wrap;
    }
  
    .hero__content {
      padding-top: 0;
      margin-bottom: 40px;
    }
  
    .dish__item,
    .menu__item,
    .blog__item {
      width: 100%;
    }
  
    .dishes__wrapper {
      flex-wrap: wrap;
      row-gap: 1.5rem;
    }
  
    .menu__wrapper,
    .blog__wrapper {
      flex-wrap: wrap;
      row-gap: 1.5rem;
    }
  
    .offer__content {
      margin-bottom: 40px;
    }
  
    .footer__box {
      width: 45%;
    }
  }
  